html{
    height: 100%;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    font-size: 14px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f8f9;
    background-image: url("brushed-alum.png");
    margin: 0;
}
.scroll{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.scroll::-webkit-scrollbar {
    display:none;
}
.main{
    width: 90%;
    max-width: 1000px;
    margin: 30px auto auto;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
}
#list{
    margin: 30px auto;
}
.list-item{
    width: 95%;
    margin: 0 auto 15px auto;
    padding-top: 15px;
    border-top: 1px solid #e7e7eb;
}
.list-item-advice {
    color: #434343;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: default;
}
.list-item-images {
    width: 100%;
    min-height: 75px;
    margin-bottom: 10px;
}
.list-item-images img{
    width: 74px;
    height: 74px;
    margin-right: 5px;
    float: left;
    position: relative;
    cursor: pointer;
}
.list-item-date{
    font-size: 14px;
    color: #9f9f9f;
    width: 130px;
    float: left;
    cursor: default;
}
.list-item-re{
    font-size: 14px;
    margin: 10px 0;
    color: #3086f7;
    width: 60px;
    display: flex;
    text-align: center;
    cursor: pointer;
}
.list-item-retext{
    color: #3a49ff;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: default;
    font-weight: 900;
    border-top: 1px dashed #acaacb;
    padding-top: 10px;
}
.list-item-retext  textarea{
    font-size:14px;
    color:#565656;
    padding: 5px 10px;
    width: 100%;
    height: 80px;
    border: 1px solid #e7e7eb;
    resize: none;
    outline: none;
}
.list-item-retext button{
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
    background-color: #d6d6d6;
    color: #363636;
    max-width: 100px;
    outline: none;
    cursor: pointer;
}
.list-item-retext .submit{
    background-color: #42494b;
    color: #ffffff;
}
.previewmodel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
.previewmodel img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}